<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../mystyle.css">
    <title>Coffee Blog</title>
    <style>

    </style>
</head>

<body>
    <header class="site-init">
        <div class="flex-container-bar">
            <h1>Coffee Blog</h1>
            <nav>
                <a href="./components/aboutUs.html">About Us</a>
                <a href="./components/courses.html">Courses</a>
                <a href="./components/contact.html">Contact</a>
            </nav>
        </div>
        <p><strong>Learn from the experts with the best recipes and tips</strong></p>
        <p>Fun courses to join! Bring a friend</p>


    </header>
    <main class="container flex-container">

        <div>
            <h2>About Us</h2>
            <img src="../images/us.jpg" alt="coffee mugs and designs">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat atque eos doloribus totam optio.
                Enim
                harum dicta asperiores vitae, doloremque, quibusdam est mollitia provident ullam assumenda veniam
                iusto,
                rerum adipisci?</p>


        </div>

    </main>
    <footer class="footer">
        <div>
            <h1>Coffee Blog</h1>
            <a class="foot-tag"><strong>About Us</strong></a>
            <a class="foot-tag"><strong>Courses</strong></a>
            <a class="foot-tag"><strong>Contact</strong></a>
        </div>
    </footer>
</body>


</html>