<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../mystyle.css">
</head>

<body>
    <header class="site-secondary">
        <div class="flex-container-bar">
            <h1>Coffee Blog</h1>


            <nav>
                <a class="nav" href="./components/aboutUs.html">About Us</a>
                <a class="nav" href="./components/courses.html">Courses</a>
                <a class="nav" href="./components/contact.html">Contact</a>
            </nav>
        </div>
    </header>
    <main class="container">
        <h2>Contact</h2>
        <div class="form-container">
            <div class="img-container">
                <img src="../images/contact.jpg" alt="">
            </div>
            <form class="container">
                <div class="input-container">
                    <label>Name:</label>
                    <input type="text" placeholder="Enter Your Name">
                </div>
                <div class="input-container">
                    <label>Email:</label>
                    <input type="email" placeholder="Enter Your Email">
                </div>
                <div class="input-container">
                    <label>Message:</label>
                    <textarea cols="30" rows="10"></textarea>
                </div>
            </form>
        </div>


    </main>
    <footer class="footer">
        <div>
            <h1>Coffee Blog</h1>
            <a class="foot-tag" href="./components/aboutUs.html"><strong>About Us</strong></a>
            <a class="foot-tag" href="./components/courses.html"><strong>Courses</strong></a>
            <a class="foot-tag" href="./components/contact.html"><strong>Contact</strong></a>
        </div>
    </footer>
</body>

</html>